/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Others */


  .others-ul {
    @apply md:w-auto md:flex md:justify-between md:items-center md:gap-2;
  }


.others-li{
  @apply md:w-auto md:border md:rounded-xl md:ring-1 md:ease-in-out md:duration-500
  md:ring-pink-500 md:text-pink-500 md:p-1 md:bg-white 
  md:hover:bg-white md:hover:border md:hover:border-pink-500 md:hover:ring-inset md:hover:ring-1 md:hover:ring-pink-500;
}

/* Address */

.address-ul {
  @apply w-full flex flex-wrap justify-start items-center gap-1;
}

/* Menu Operation */

.menu-operation-in-md-config {
  @apply 
  bg-white
  md:justify-start md:text-xl ;
}

.menu-decoration-standby {
  @apply 
  w-full flex justify-center items-center px-1 py-2 
  border-b-[3px] border-white transition ease-in
  text-[14px] 
  duration-200

  group-hover:bg-pink-50;
}

.menu-decoration-standby.active {
  @apply 
  border-pink-600
  group-hover:bg-white ;
}

.menu-decoration-hover-underline {
  @apply 
  border-b-[3px] border-pink-600
  group-hover:w-6 group-hover:bg-pink-50
}

/* Pickup Card Decoration*/




/* Filter */
.filter-heading-text {
  @apply text-lg font-bold;
}

.filter-list {
  @apply flex justify-start items-center px-1 py-1 gap-5;
}

.filter-list-label-square {
  @apply appearance-none w-5 h-5 border-2 border-pink-500 rounded-md ring-inset focus:outline-none checked:border-opacity-10 checked:bg-pink-600 group-hover:text-pink-500 group-hover:rounded-md group-hover:ring-2 group-hover:ring-pink-600 group-checked:border-opacity-10 group-checked:bg-pink-600;
}

.sort-marked {
  @apply checked:bg-pink-500 checked:ring-inset checked:ring-pink-500;
}

.sort-checked {
  @apply checked:ring-4 checked:ring-inset checked:ring-pink-500;
}

.sort-checked-focus {
  @apply checked:focus:ring-4 checked:focus:ring-inset checked:focus:ring-pink-500;
}

.sort-focus {
  @apply focus:outline-none focus:ring-4 focus:ring-inset focus:ring-pink-500;
}

.sort-group-hover {
  @apply group-hover:ring-2 group-hover:ring-inset group-hover:ring-pink-500;
}

.sort-hover-active {
  @apply hover:active:ring-4 hover:active:ring-inset hover:active:ring-pink-500;
}

/* Footer */
.hover-link {
  @apply hover:text-pink-500 md:cursor-pointer;
}

/* Slick Slider */